/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  padding: 10px;
  position: relative;
  color: rgb(47, 253, 20);
  height: 100vh;
  background-color: rgb(21, 21, 23);
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: scroll;
}

h1 {
  margin: 10px 0 40px 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.025em;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
  padding: 3px 0 3px 0;
}

a {
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
