@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  padding: 10px;
  position: relative;
  color: rgb(47, 253, 20);
  opacity: 0.75;
  height: 100vh;
  background-color: rgb(21, 21, 23);
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: scroll;
}

h1 {
  margin: 10px 0 40px 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.025em;
}

h2 {
  margin: 10px 0 40px 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.025em;
}
h3 {
  font-size: 18px;
  display: inline;
  font-weight: bold;
}

li {
  list-style: none;
  padding: 3px 0 3px 0;
}
.selectable {
  &:hover {
    cursor: pointer;
    color: gold;
  }
}

a {
  color: rgb(47, 253, 20);
  text-decoration: none;
}

a:hover {
  color: fuchsia;
  cursor: pointer;
}
