.label {
  border-bottom: 1px rgb(47, 253, 20) solid;
  input{
    color: rgb(47, 253, 20);
    font-size: 14px;
    background-color: transparent;
    border-radius: 0;
    border: none;
    width: 200px;
    padding-bottom: 6px;
    text-align: center;
  }
}
